sudo: required
dist: xenial
language: python

services:
  - docker

matrix:
  include:
  - env:
    - DOCKER_JOB_NAME='surreal_py3'
    - DOCKER_IMAGE='ducandu/surreal:travis'

before_install:
  - docker pull ${DOCKER_IMAGE}
  - docker run -d --rm --name ${DOCKER_JOB_NAME} -v $(pwd):/surreal ${DOCKER_IMAGE} /bin/bash -c 'while true; do sleep 1; done';

script:
  # Test Algo learning.
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/algos/learning_up_to_1min/test_dqn2015_short_tasks.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/algos/learning_up_to_1min/test_dddqn_short_tasks.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/algos/learning_up_to_1min/test_sac_short_tasks.py';

  # Test Algo functionality.
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/algos/functionality/test_dqn2015_functionality.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/algos/functionality/test_dddqn_functionality.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/algos/functionality/test_sac_functionality.py';

  # Test core lib.
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/core/test_spaces.py';

  # Test Components.
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/components/test_decays.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/components/test_distribution_adapters.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/components/test_distributions.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/components/test_memories_generically.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/components/test_networks.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/components/test_optimizers.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/components/test_preprocessors.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/components/test_prioritized_replay_buffer.py';
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/components/test_replay_buffer.py';

  # Test the Envs.
  - docker exec ${DOCKER_JOB_NAME}  /bin/sh -c 'cd /surreal && python -m pytest -s surreal/tests/environments';


notifications:
  email:
    recipients:
      - sven.mika@ducandu.com
    on_success: never
    on_failure: never
